---
import AboutMe from '../components/AboutMe.astro';
import Contact from '../components/Contact.astro';
import Header from '../components/Header.astro';
import Projects from '../components/Projects.astro';
import StartPage from '../components/StartPage.astro';
import Footer from '../components/Footer.astro';

import Layout from '../layouts/Layout.astro'


// components

---

<Layout title={"Èric Subirana"}  >
	<Header/>
	<div class="text-stone-200 font-poppins bg-center bg-no-repeat bg-cover h-screen pep">
		<StartPage/>	
	</div>
	<AboutMe/>
	<div class=" bg-orange-50">
		<Projects/>
	</div>
	<div>
		<Contact/>
	</div>
	<div>
		<Footer/>
	</div>
</Layout>

<style>
	.pep{
		background-color: aqua;
	}
</style>

