<div class="grid md:grid-cols-[4fr,5fr]  mt-28"  data-aos-duration="1500">
    <div class=" flex flex-col  pull-left">
        <section class="sticky top-24 z-0" data-aos="fade-up">
            <img src="images/persona.png" width="250" class="block ml-auto mr-auto">
            <h3 class="text-center mt-5" >ÈRIC SUBIRANA</h3>
        </section>
        
    </div>
    <div>
        <div class="text-left w-4/5 pull-right sm:mt-24">
            <section class="grid grid-cols-[1fr,3fr] w-3/4 mb-10 sm:w-full sm:ml-[30%] md:ml-0" data-aos="fade-up">
                <img src="images/perfil.png" width="50" class="">
                <h1 class="text-3xl mt-2"> About Me </h1>
            </section>
            <div class="sm:ml-[30%] md:ml-0">
                <p data-aos="fade-up"> Hi! My name is Èric, since I am a kid, I've been amazed about all related to computers. Nowadays I am studying an informatic enginreeing degree in UAB university.</p>
            <p data-aos="fade-up">I am always learning new technologies and looking for new ways to improve my projects.</p>
            </div>
        
            <section class="grid grid-cols-[1fr,3fr] w-3/4 mb-10 mt-14 sm:ml-[30%] md:ml-0" data-aos="fade-up">
                <img src="images/graduation.png" width="50" class="">
                <h1 class="text-3xl mt-2"> Formation </h1>
            </section>
            <div class="sm:ml-[30%] md:ml-0">
                <p data-aos="fade-up">2018-2020 | Technologyc High-school in Calgravat </p>
                <p data-aos="fade-up">2021-Now | Informatic Degree in UAB</p>
            </div>
            
        </div>
    </div>
</div>
<div data-aos="fade-up" data-aos-duration="4000" class="justify-center text-center mr-56 ml-56 mt-32 rounded-3xl mb-20">
    <!--border-solid border-2 border-t-0 border-orange-300  -->
    <section class="mt-8 mb-20" data-aos="fade-up">
        <!-- <img src="images/habilidad.png" width="70" class="mt-9"> -->
        <h1 class="text-3xl text-center">A B I L I T I E S</h1>
    </section>
    <div data-aos="fade-up">
        <div class="inline-flex flex-wrap justify-center gap-y-6 w-4/5">
            <div class="md:w-1/4 sm:w-1/2">
                <img src="images/LogosHab/html5.png" width="75" class="mr-auto ml-auto scale-100 hover:scale-150 ease-in duration-[350ms]" >
                <h4 class="text-center text-base mb-5 mt-3">HTML</h4>
            </div>
            <div class="md:w-1/4 sm:w-1/2">
                <img src="images/LogosHab/css.png" width="75" class="mr-auto ml-auto scale-100 hover:scale-150 ease-in duration-[350ms]">
                <h4 class="text-center text-base mb-5 mt-3">CSS</h4>
            </div>
            <div class="md:w-1/4 sm:w-1/2">
                <img src="images/LogosHab/tailwind.png" width="75" class="mr-auto ml-auto scale-100 hover:scale-150 ease-in duration-[350ms]">
                <h4 class="text-center text-base mb-5 mt-3">TAILWIND</h4>
            </div>
            <div class="md:w-1/4 sm:w-1/2">
                <img src="images/LogosHab/js.png" width="75" class="mr-auto ml-auto scale-100 hover:scale-150 ease-in duration-[350ms]">
                <h4 class="text-center text-base mb-5 mt-3">JAVASCRIPT</h4>
            </div>
            <div class="md:w-1/4 sm:w-1/2">
                <img src="images/LogosHab/git.png" width="75" class="mr-auto ml-auto scale-100 hover:scale-150 ease-in duration-[350ms]">
                <h4 class="text-center text-base mb-5 mt-3">GIT</h4>
            </div>
            <div class="md:w-1/4 sm:w-1/2">
                <img src="images/LogosHab/c++.png" width="75" class="mr-auto ml-auto scale-100 hover:scale-150 ease-in duration-[350ms]">
                <h4 class="text-center text-base mb-5 mt-3">C++</h4>
            </div>
            <div class="md:w-1/4 sm:w-1/2">
                <img src="images/LogosHab/java.png" width="75" class="mr-auto ml-auto scale-100 hover:scale-150 ease-in duration-[350ms]">
                <h4 class="text-center text-base mb-5 mt-3">JAVA</h4>
            </div>
            <div class="md:w-1/4 sm:w-1/2">
                <img src="images/LogosHab/python.png" width="75" class="mr-auto ml-auto scale-100 hover:scale-150 ease-in duration-[350ms]">
                <h4 class="text-center text-base mb-5 mt-3">PYTHON</h4>
            </div>
            <div class="md:w-1/4 sm:w-1/2">
                <img src="images/LogosHab/astro.svg" width="75" class="mr-auto ml-auto scale-100 hover:scale-150 ease-in duration-[350ms]">
                <h4 class="text-center text-base mt-3 mb-5">ASTRO</h4>
            </div>
            <div class="md:w-1/4 sm:w-1/2">
                <img src="images/LogosHab/php.png" width="75" class="mr-auto ml-auto scale-100 hover:scale-150 ease-in duration-[350ms] pt-3 pb-3">
                <h4 class="text-center text-base mb-5 mt-3">PHP</h4>
            </div>
            <div class="md:w-1/4 sm:w-1/2">
                <img src="images/LogosHab/mySQL.png" width="75" class="mr-auto ml-auto scale-100 hover:scale-150 ease-in duration-[350ms]">
                <h4 class="text-center text-base mb-5 mt-3">mySQL</h4>
            </div>
            <div class="md:w-1/4 sm:w-1/2">
                <img src="images/LogosHab/PostGre.png" width="75" class="mr-auto ml-auto scale-100 hover:scale-150 ease-in duration-[350ms]">
                <h4 class="text-center text-base mb-5 mt-3">PostreSQL</h4>
            </div>
        </div>
    </div>
</div>