<div class="justify-center text-center mb-20" >
    <h1 class="mt-28 text-3xl mb-14" data-aos="fade-up" >C O N T A C T O</h1>
    <div class="grid grid-cols-2" data-aos="fade-up">
        <div class="flex flex-col items-end mr-14 mt-10">
            <img src="images/contact.png" width="60%">
        </div>

        <form action="" class="mt-20 flex flex-col items-center content-center">
            
            <input class="hover:shadow-md rounded-md bg-orange-100  w-[70%] mb-4 text-center m-2 p-2" type="text" placeholder="Nombre" required > 
            
            <input class="hover:shadow-md rounded-md bg-orange-100 w-[70%] mb-4 text-center m-2 p-2" type="text" placeholder="Mail" required > 
            
            <input class="hover:shadow-md rounded-md bg-orange-100  w-[70%] pb-20 mb-4 text-center m-2 pt-1" type="text" placeholder="Mensaje" required > 
  
            <button class="border-2 border-solid border-orange-300 bg-orange-300 rounded-md text-white w-[70%] pt-1 pb-1">Enviar</button>

        </form>
       
    </div>
</div>
