<div class="justify-center flex items-center flex-col" id="Projectes">
    <h3 class=" pt-24 text-center" data-aos="fade-up">P R O J E C T S</h3>
    
      <!-- Swiper -->
    <div class="swiper mySwiper mb-16" data-aos="fade-up">
      <div class="swiper-wrapper">
        <div class="swiper-slide p-10">
          <img src="images/flutter.jpg" />
          <h2>TIME TRACKER APP</h2>
          <p class="mt-3">Time tracker app it is an application that will help us to set timers to any task, it is created with the following lenguages:</p>
          <section class="grid grid-cols-[80%,20%]">
            <div class="grid grid-cols-3 w-[60%]">
              <img src="images/LogosHab/flut.png" width="25" class="m-2">
              <img src="images/LogosHab/c++.png" width="25" class="m-2">
              <img src="images/LogosHab/html5.png" width="25" class="m-2">
            </div>
            <a href="https://github.com/ericsubirana/TimeTrackerApp">  <img src="images/git.png"> </a>
          </section>
        </div>
        <div class="swiper-slide p-10">
          <img src="images/web.png" />
          <h2>SHIRTS DIVISION</h2>
          <p class="mt-3">Shirts division it is a web shop created with the following lenguages:</p>
          <section class="grid grid-cols-[80%,20%]">
            <div class="grid grid-cols-5 w-[60%]">
              <img src="images/LogosHab/PostGre.png" width="25" class="m-2">
              <img src="images/LogosHab/php.png" width="25" class="m-2">
              <img src="images/LogosHab/html5.png" width="25" class="m-2">
              <img src="images/LogosHab/css.png" width="25" class="m-2">
              <img src="images/LogosHab/js.png" width="25" class="m-2">
            </div>
            <a href="https://github.com/ericsubirana/Pagina-Web" class=" items-end">  <img src="images/git.png"> </a>
          </section>
        </div>
        <div class="swiper-slide p-10">
          <img src="images/sudoku.png" />
          <h2>SUDOKU</h2>
          <p class="mt-3">Testing and creation of a "sudoku" with the following lenguages:</p>
          <section class="grid grid-cols-[80%,20%]">
            <div class="ml-12">
              <img src="images/LogosHab/java.png" width="30" class="">
            </div>
            <a href="https://github.com/ericsubirana/Sudoku-Game-Tested" class=" items-end">  <img src="images/git.png"> </a>
          </section>
        </div>   
        <div class="swiper-slide p-10">
          <img src="images/coosy.png" />
          <h2>WEB TESTING</h2>
          <p class="mt-3">Testing of a web page with the following lenguages:</p>
          <section class="grid grid-cols-[80%,20%]">
            <div class="grid grid-cols-5 w-[60%]">
              <img src="images/LogosHab/html5.png" width="25" class="m-2">
              <img src="images/LogosHab/java.png" width="25" class="m-2">
              <img src="images/LogosHab/cucumber.png" width="25" class="m-2">
              <img src="images/LogosHab/css.png" width="25" class="m-2">
              <img src="images/LogosHab/js.png" width="25" class="m-2">
            </div>
            <a href="https://github.com/ericsubirana/Web-Testing">  <img src="images/git.png"> </a>
          </section>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    

<script is:inline src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script is:inline>new Swiper(".mySwiper", {
      effect: "coverflow",
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: "auto",
      coverflowEffect: {
        rotate: 50,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows: true,
      },
      pagination: {
        el: ".swiper-pagination",
      },
    });
</script>
<div id="Contact">

</div>
</div>
