
<div class="text-center justify-center w-full h-full bg-[url('images/starts2.jpg')]">
    <h1 class="p-10 pt-60 pb-4 text-7xl font-black tracking-widest uppercase text-transparent font-lemon bg-clip-text bg-[url('images/back5.png')]  animate-back-A">Èric Subirana </h1>
    <h4 class="inline-flex text-3xl decoration-white overflow-hidden border-r-2 border-orange-300 whitespace-nowrap mx-0 my-auto  tracking-widest animate-typing-A text-orange-300 ">Welcome to my portfolio</h4>
</div>
<div id="SobreMi"></div>

    
