<div class="text-center">
    <h1 class="pb-4 text-7xl font-black tracking-widest uppercase text-transparent font-lemon bg-clip-text bg-[url('/../images/back5.png')] animate-back-A sm:pt-[40%] lg:pt-[20%] smm:pt-[50%]">Èric Subirana</h1>
    <h4 class="inline-flex text-3xl decoration-white overflow-hidden border-r-2 border-orange-300 whitespace-nowrap mx-0 my-auto  tracking-widest animate-typing-A text-orange-300">Welcome to my portfolio</h4>
    
</div>
